td {
	text-align: center;
}

body {
}

#main {
	// height: 45vh;
}

#screen {
	height: 98vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#input {
//	display:flex;
}

#bottom {
	// height: 54vh;
	display: flex;
	padding-bottom: 1vh;
	min-height: 0;	
}

#top-left {
}

#input_file {
	width: 200px;
	padding: 2px;
	margin: 5px;
	border: solid;
	border-radius: 5px;
	background-color: #524f49;
}

#table_sec {
	display: flex;
	flex-direction: column;
	margin-right: 1vw;
	margin-left: 1vw;
}

#table {
	overflow-y: scroll;
	min-width: 0;
}

#cats {
	display: grid;
	overflow-y: scroll;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	margin-left: 1vw;
	margin-right: 1vw;
	width: 100%;
}

.cat_divs {
	border: solid;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border-width: thin;
	background-color: #524f49;
}

.center {
	text-align: center;
}

table {
	border-collapse: collapse;
	border: 2px solid white;
	min-width: 0;
}

thead {
	background-color: gray
}

th, td {
	border: 1px solid white;
	padding: 8px 10px;
	min-width: 0;
}

tr {
	min-width: 0;
}

.shrink {
}

.flex {
	display: flex;
}

input[type="number"] {
	-moz-appearance: textfield;
	width: 60px;
}

.blend {
	border: none;
	background-color: black;
}
