td {
	text-align: center;
}

body {
}

#main {
	height: 20vh;
}

#bottom {
	height: 79vh;
	display: flex;
	padding-bottom: 1vh;
}

#table {
	width: 50%;
	display: grid;
	overflow-y: scroll;
	margin-right: 1vw;
	margin-left: 1vw;
}

#cats {
	display: grid;
	width: 50%;
	overflow-y: scroll;
	grid-template-columns: auto auto auto auto;
	margin-left: 1vw;
	margin-right: 1vw;
}

.cat_divs {
	border: solid;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border-width: thin;
	background-color: #524f49;
}

.center {
	text-align: center;
}

table {
	border-collapse: collapse;
	border: 2px solid white;
}

thead {
	background-color: gray
}

th, td {
	border: 1px solid white;
	padding: 8px 10px;
}
